html{
    scroll-behavior: smooth;
}
*{
    color: white;
}
body{
    margin: 0;
}
p{
    color: black;
}
a{
    text-decoration: none;
}


/*#region NavBar*/
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #C4E0E5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #badfe6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #badfe6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      height: 20vh;
    color: #FFF;
    height: 50px;
    padding: 1em;
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  #headerDiv{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 5%;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 3%;
    width: 60%;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


#navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navBarItem{
    font-size: 1.3em;
    --b: 0.1em;   /* the thickness of the line */
    --c: white; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.navBarItem:hover{
    --_p: 100%;
    --_s: .3s;
    
}


  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
      margin-right: 5%;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }


/*#endregion*/

/*#region Header*/

#header{
    display: flex;
    justify-content: space-around;
    background: #C4E0E5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #badfe6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #badfe6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      height: 20vh;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#headerTitleDiv{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 40%;
}
#headerTitle{
    margin: 0;
    font-size: 2em;
}

/*#endregion */

/*#region MainPage*/

#mainPage{
    background: #C4E0E5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #badfe6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #badfe6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      height: 20vh;
    
    width: 100%;
    text-align: center; 
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20vh;
}
#mainPageDescriptionDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.mainPageDescriptionTitle{
    margin: 5% 0;
    text-align: center;
    font-size: 3em;
    
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
#mainPageDescriptionTitle2{
    font-size: 1.5em;
    font-weight: bold;
}
#mainPageImageDiv{
    width: 60%;
    height: 100%;
}
#mainPageImage{
    width: 80%;
    height: 100%;
}
#mainPageDescriptionButton{
    width: 30%;
    height: 10%;
}
/*#region Animation*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*#endregion*/

/*#region Button*/

#mainPageDescriptionButton {
    padding: 0;
    border: unset;
    border-radius: 15px;
    color: #00B4DB;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
   #mainPageDescriptionButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #4CA1AF;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   #mainPageDescriptionButton:hover {
    color: #e8e8e8;
   }
   
   #mainPageDescriptionButton:hover::before {
    width: 100%;
   }
/*#endregion Button*/

/*#endregion*/

/*#region AboutPage*/

#aboutPage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#aboutPageTitleDiv{
    width: 33%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#aboutPageTitle{
    color: black;
    padding-top: 15%;
    margin-right: 20%;
    font-weight: bold;
    font-family: monospace;
    font-size: 2.5em;
}

#aboutPageDescription{
    color: black;
    text-align: initial;
    /* padding-top: 10%;
    margin-left: 20%; */
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5em;

    
}
/*#region Button*/
#aboutPageDescriptionButton {
    width: 50%;
    height: 10%;
    padding: 0;
    margin-top:5% ;
    border: unset;
    border-radius: 15px;
    color: #00B4DB;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
#aboutPageDescriptionButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #4CA1AF;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
#aboutPageDescriptionButton:hover {
    color: #e8e8e8;
}
   
#aboutPageDescriptionButton:hover::before {
    width: 100%;
}
/*#endregion*/
#aboutPageImage{
    width: 70%;
    height: 60%;
    padding-top: 15%;
    margin-left: 25%;
}
#aboutPageImageDiv{
    width: 40%;
}

/*#endregion*/

/*#region ServicesPage*/
.servicesPageText{
    color: #000;
    font-weight: bold;
    font-family: monospace;
    font-size: 2.5em;
    margin: 0%;
    letter-spacing: 4px;
}
#servicesPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#servicesPageTitleDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#servicesPageTitle2{
    font-size: 1.5em;
    font-weight: 100;
}
/*#region Services Cards*/

#servicesPageItems{
    margin: auto;
    padding: 0;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .card{
    position: relative;
    cursor: pointer;
    width: 30%;
    height: 50%;
}
.container .card .face{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(50%);
    padding-top: 5%;
}
.container .card:hover .face.face1{
    background: #4CA1AF;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 80%;
}
.container .card .face.face1 .content h3{
    margin: 20% 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.8);
    transform: translateY(-50%);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 0 0 0;
    margin-top: 5%;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

/*#endregion*/
/*#endregion*/


/*#region HireMePage*/

#hireMePage{
    height: 30vh;
    width: 100%;
    background: #C4E0E5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #badfe6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #badfe6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    
}
#hireMePageContent{
    display: flex;
    flex-direction: column ;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

/*#region Button*/

#hireMePageButton {
    width: 30%;
    padding: 0;
    border: unset;
    border-radius: 15px;
    color: #00B4DB;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}
   
   #hireMePageButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #4CA1AF;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   #hireMePageButton:hover {
    color: #e8e8e8;
   }
   
   #hireMePageButton:hover::before {
    width: 100%;
   }
/*#endregion Button*/

/*#endregion HireMePage*/

/*#region Footer Page*/


#footerPage{
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footerPageText1{
    margin: 0;
    margin-bottom: 1em;
    font-weight: bold;
    font-family: sans-serif;
}
.footerPageText2{
    margin: 0;
    margin-bottom: 00.1em;
}

.footerPageText3{
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-family: sans-serif;

}
#footerPageSocialDiv{
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    height: 10%;
}
.icon{
    width: 100%;
    height: 100%;
}
.footerPageSocial1{
    width: 16%;
    height: 100%;
}



/*#endregion*/


@media only screen and (max-width: 768px) {
    h1{
        text-align: center;
    }
    a{
        margin: 3px;
    }
    #mainPage{
        display: block;
    }
    #headerTitle{
        font-size: 1.5em;
    }
    #mainPageDescriptionDiv{
        justify-content: space-around;
        height: 100%;
        width: 80%;
        margin: auto;
        
    }
    #mainPageDescriptionButton{
        width: 100%;
    }
    .mainPageDescriptionTitle{
        font-size: 3em;
    }
    #mainPageImageDiv{
        height: 80%;
        margin-top: 10%;
        display: none;
    }
    #aboutPage{
        height: 80vh;
        margin-bottom: 15%;
    }
    #aboutPageTitleDiv{
        justify-content: space-evenly;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        font-size: 1.5em;
    }
    #aboutPageTitle{
        text-align: center;
        margin: 0;
    }
    #aboutPageDescription{
        text-align: center;
    }
    #aboutPageDescriptionButton{
        width: 100%;
    }
    #aboutPageImageDiv{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .container .card{
        width: 100%;
    }
    #footerPageSocialDiv{
        width: 50%;
    }


    .top-nav{
        justify-content: space-between;
   }
   #hireMePageButton{
        width: 50%;
        height: 20%;
   }
}


